<%- include("parts/header") %> 

<%- include("parts/navbar") %> 



<div class="container">

    <h1 class="alert alert-danger text-center mt-5"> 404 Not Found Page </h1>

</div>




<%- include("parts/footer") %> 